{% extends 'base.html' %}
{% block content %}

<div class="m-5">
  <h1 class="text-center" style="color: green;">Spotify Playlists</h1>
  <p class="text-center">Create your own playlists!</p>
</div>

<div class="playlists d-flex flex-wrap">
  {% for playlist in all_playlists %}
  <div class="card my-5 mx-5 col-3 col-3 col-3 d-flex flex-column align-items-center bg-secondary text-white">
    <a class="text-decoration-none fs-4" style="color: black;" href="/playlist/{{ playlist.id }}"><strong>{{ playlist.title }}</strong></a>
    <p>{{ playlist.songs|length }} songs</p>
    <p>Genre: {{ playlist.genre }}</p>
  </div>
  {% endfor %}
</div>

{% endblock %}