{% extends 'base.html' %}
{% block content %}

<h1 class="text-center">{{ playlist.title }}</h1>
<p class="text-center">Genre: {{ playlist.genre }}</p>

<div class="card m-5 p-3 d-flex flex-column align-items-center w-50 h-50">
  <h3 style="color: #7fba8b;">Update Playlist:</h3>
  <form method="POST">
    <fieldset>
      <legend>Edit:</legend>
      {{ form.csrf_token }}

      {{ form.title.label }} 
      <p>{{ form.title }}</p>
      
      {{ form.genre.label }} 
      <p>{{ form.genre }}</p>

      <p>{{ form.submit }}</p>
    </fieldset>
  </form>
</div>

<h3 class="text-center" style="color: #7fba8b;">Songs:</h3>
<div class="p-5 d-flex flex-wrap">
  {% for song in playlist.songs %}
  <div class="container col-3 col-3 col-3">
    <a href="/song/{{ song.id }}"><img src="{{ song.photo_url }}" alt="{{ song.name }}" width="200px">
    <p>{{ song.name }}</p>
  </div>
  {% endfor %}
</div>




{% endblock %}