{% extends 'base.html' %}
{% block content %}

<div class="card m-3 p-3 d-flex flex-column align-items-center w-50 h-50">
  <h1 style="color: #7fba8b;">Sign Up</h1>
  <form action="/signup" method="POST">
    {{ form.csrf_token }}
    <fieldset>
      {{ form.username.label }}
      <p>{{ form.username }}</p>
      
      <ul>
      {% for error in form.username.errors %}
          <li class="error">{{ error }}</li>
      {% endfor %}
      </ul>
  
      {{ form.password.label }}
      <p>{{ form.password }}</p>
      
      <ul>
      {% for error in form.password.errors %}
          <li class="error">{{ error }}</li>
      {% endfor %}
      </ul>
  
      <p>{{ form.submit }}</p>
    </fieldset>
  </form>  
</div>

{% endblock %}