{% extends 'base.html' %}
{% block content %}


<div class="m-3 p-3 d-flex flex-column align-items-center">
  <h1 style="color: black;">{{ song.name }}</h1>
  <p><strong>Artist: </strong>{{ song.artist }}</p>
  <p><img src="{{ song.photo_url }}" width="250px" height="250px"></p>
  <p><strong>Playlist: </strong>{{ song.playlist.title }}</p>
</div>

<div class="card m-3 p-3 d-flex flex-column align-items-center w-50 h-50">
  <h2 style="color: #7fba8b;">Update Song Details</h2>
  <form method="POST">
    {{ form.csrf_token }}

    {{ form.name.label }}
    <p>{{ form.name }}</p>

    {{ form.artist.label }}
    <p>{{ form.artist }}</p>

    {{ form.photo_url.label }}
    <p>{{ form.photo_url }}</p>

    {{ form.playlist.label }}
    <p>{{ form.playlist }}</p>

    <p>{{ form.submit }}</p>
  </form>
</div>
{% endblock %}